
:root{
    --color0: #fff;
    --color1: #b41515;
    --color2: #c62368;
    --color3: #333;
    --color4: rgb(96, 110, 189);
    --color5: rgba(20, 189, 104, 0.548);

}

.navbar {
    background-color: var(--color1);
    
}


.jumbotron{

    background-image: url(https://cdn.pixabay.com/photo/2021/08/04/13/06/software-developer-6521720_960_720.jpg);
    /* cover para que cubra toda la caja  */
    background-size: cover;
    /* center para centrar la imagen en la caja  */
    background-position: center;
    /* un height para la altura de la imagen cuanto abarque  */
    height:400px ;
    color:var(--color0);
    text-shadow: 0 0 10px #333;
    border-radius:0;
    display:flex;
    
}
.footer-copyright{
    background-color: var(--color1)
}