:root{
    --color0: #fff;
    --color1: #b41515;
    --color2: #c62368;
    --color3: #333;
    --color4: rgb(96, 110, 189);
    --color5: rgba(20, 189, 104, 0.548);

}

.navbar {
    background-color: var(--color1);
    
}
.jumbotron{

    background-image: url(../media/youtube.png);
    /* cover para que cubra toda la caja  */
    background-size: cover;
    /* center para centrar la imagen en la caja  */
    background-position: center;
    /* un height para la altura de la imagen cuanto abarque  */
    height:350px;
    color:var(--color0);
    text-shadow: 0 0 10px #333;
    border-radius:0;
    display:flex;
    
}

/* galeria de videos */
.pb-video-container {
  
    padding-top: 20px;
    background: #bdc3c7;
    font-family: Lato;
    display:flex;
    flex-wrap: wrap;
    /* justify-content es precisamente para alininear nuestro contenido */
    justify-content:space-evenly;
    align-items: center;
    align-content: space-around;
    
    
}

.pb-video {
    border: 1px solid #e6e6e6;
    padding: 5px;
}

    .pb-video:hover {
        background: #2c3e50;
    }

.pb-video-frame {
    transition: width 2s, height 2s;
}

    .pb-video-frame:hover {
        height: 300px;
    }

.pb-row {
    margin-bottom: 10px;
}

.footer-copyright{
    background-color: var(--color1)
}
