
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Work+Sans:wght@300&display=swap');

*{
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}
a{
    text-decoration:none;
    color: rgb(0, 0, 0);
}
li{
    list-style-type:none;
    margin:1rem;
    padding:0.5rem;
}
ul{
    display:flex;
}
/*hover cambie letra al pasar el cursor*/
a:hover{
    color: rgb(230, 216, 171)
}
/*aplique hoover al pasar el cursor*/
li:hover{
    list-style: none;
    
    background-color: rgb(29, 24, 24);
}
h1{
    font-size:3rem;
    color: rgb(243, 243, 243);
    text-shadow:1px 1px 2px   rgb(63, 63, 63);
    margin-bottom:1rem;
}



.container {
      
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 800px 500px 150px;
    grid-auto-columns: 1fr;
    /* gap: 10px 10px; */
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "herolinks herolinks"
      "links links"
      "footer footer";
  }
 
  .header { grid-area: header; 
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    padding: 0 4rem;
    background-color: rgb(223, 221, 221);
}
  
  .herolinks { grid-area: herolinks; 
    background-image: url("https://c4.wallpaperflare.com/wallpaper/793/5/131/minimalism-digital-art-simple-background-cats-eyes-hd-wallpaper-preview.jpg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
  

    
.links p{
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    
}
.links{ grid-area: links; 
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding:0 3rem;



}
.footer { grid-area: footer; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 221, 221);
    }


  
  
