
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Work+Sans:wght@300&display=swap');

*{
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}

a{
    text-decoration:none;
    color: rgb(0, 0, 0);
}
li{
    list-style-type:none;
    margin:1rem;
    padding:0.5rem;
}
ul{
    display:flex;
}
/*hover cambie letra al pasar el cursor*/
a:hover{
    color: rgb(230, 216, 171)
}
/*aplique hoover al pasar el cursor*/
li:hover{
    list-style: none;
    
    background-color: rgb(29, 24, 24);
}
h1{
    font-size:3rem;
    color: rgb(0, 0, 0);
    text-shadow:1px 1px 2px   rgb(63, 63, 63);
    margin-bottom:1rem;
}

.container {  
    width:100%;
    margin: 0%;
    display:grid;
    grid-template-columns: repeat(1 ,fr);
    grid-template-rows: repeat(4 ,fr);
 
}

.header {
     
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    padding: 0 4rem;
    background-color: rgb(223, 221, 221);
    grid-column: 1/3;
grid-row: 1/2;
    
}

.heroSobreNosotros { 
    padding-top:150px;
padding-bottom:150px;
    
     background-image: url("https://c1.wallpaperflare.com/preview/43/892/22/notebook-pen-table-blank.jpg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    grid-column: 1/3;
grid-row: 2/3;
    }


        /* GUI-CODE */
.textoSobreNosotros { 
    font-size: 2rem;  
    margin-top: 2rem;  
    display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding:0 3rem;
        grid-column: 1/3;
        grid-row:3/4
        }

.textoSobreNosotros p{
        font-family: 'Work Sans', sans-serif;
        font-size: 1.5rem;
        color: rgb(0, 0, 0);
        padding-top:100px;
        padding-bottom:100px;
        grid-column: 1/3;
        grid-row: 4/5;
        
    }

  
.footer {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(223, 221, 221);

grid-column:1/3 ;
  grid-row: 6/7;
}
@media only screen and (max-width:768px){
    .container {  
        width:100%;
        margin: 0%;
        display:grid;
        grid-template-columns: repeat(1 ,fr);
        grid-template-rows: repeat(4 ,fr);
     
    }
    
    .header {
         
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
        padding: 0 4rem;
        background-color: rgb(223, 221, 221);
        grid-column: 1/3;
    grid-row: 1/2;
        
    }
    
    .heroSobreNosotros { 
        padding-top:150px;
    padding-bottom:150px;
        
         background-image: url("https://c1.wallpaperflare.com/preview/43/892/22/notebook-pen-table-blank.jpg");  
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        grid-column: 1/3;
    grid-row: 2/3;
        }
    
    
            /* GUI-CODE */
    .textoSobreNosotros { 
        font-size: 2rem;  
        margin-top: 2rem;  
        display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            padding:0 3rem;
            grid-column: 1/3;
            grid-row:3/4
            }
    
    .textoSobreNosotros p{
            font-family: 'Work Sans', sans-serif;
            font-size: 1.5rem;
            color: rgb(0, 0, 0);
            padding-top:100px;
            padding-bottom:100px;
            grid-column: 1/3;
            grid-row: 4/5;
            
        }
    
      
    .footer {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 221, 221);
    
    grid-column:1/3 ;
      grid-row: 6/7;
    }

}

  
